.main {
  margin-bottom: 0vh;
}

.container {
  position: relative;
  height: 150vh;
}

.stickyMask {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  mask-image: url("/medias/logowavydigital.svg");
  mask-position: 50% center;
  mask-repeat: no-repeat;
  mask-size: 80%;
}

/* .stickyMask video {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */
